In [3]:
# Task 1: Variable Declaration and Data Types
int_var = 5
float_var = 2.6
str_var = "Yellow"
bool_var = False

print(int_var, type(int_var))
print(float_var, type(float_var))
print(str_var, type(str_var))
print(bool_var, type(bool_var))

5 <class 'int'>
2.6 <class 'float'>
Yellow <class 'str'>
False <class 'bool'>

In [5]:
# Task 2: String Manipulation
sample_string = "Hello, Data Analytics Bootcamp!"
print(sample_string.upper())
print(sample_string.replace("Hello", "Howdy"))
print(sample_string.lower())

HELLO, DATA ANALYTICS BOOTCAMP!
Howdy, Data Analytics Bootcamp!
hello, data analytics bootcamp!

In [6]:
# Task 3: Basic Operations
a, b = 18, 6
print(a + b, a - b, a * b, a / b, a % b, a ** b) #Logical
print(a > b, a < b, a == b, a != b, a >= b, a <= b) #Comparison
print(a > 15 and b < 7, a < 2 or b > 5, not (a==b)) #Logical

24 12 108 3.0 0 34012224
True False False True True False
True True True

In [7]:
# Task 4: Data Collections
my_list = [5, 10, 15, 20, 25]
my_dict = {"name": "Jack", "age": 24}
my_tuple = (100, 200, 300, 400, 500)

print(my_list[3])
print(my_dict["name"])
print(my_tuple[1])

20
Jack
200

In [12]:
# Task 5: Expression Combination
int_var = 5
float_var = 2.6
a, b = 18,6
result = ((int_var + float_var) * (a-b))
print("Final Result:", result)

Final Result: 91.19999999999999