In [1]:
import pandas as pd

In [3]:
customers=pd.read_csv('Downloads/customers_wk9_thurs.csv')
products=pd.read_csv('Downloads/products_wk9_thurs.csv')
sales=pd.read_csv('Downloads/sales_wk9_thurs.csv')

In [4]:
customers.head(3)

,customer_id,first_name,last_name,age,state,income,registration_date,email
0,1,John,Smith,34,CA,75000,2022-01-15,john.smith@email.com
1,2,Sarah,Johnson,28,NY,82000,2022-01-22,sarah.johnson@email.com
2,3,Michael,Brown,45,TX,95000,2022-02-03,michael.brown@email.com

In [5]:
products.head()

,product_id,product_name,category,price,launch_date,brand
0,1,Wireless Bluetooth Headphones,Electronics,79.99,2021-03-15,AudioTech
1,2,Organic Cotton T-Shirt,Clothing,24.99,2021-04-20,EcoWear
2,3,Stainless Steel Water Bottle,Home & Garden,19.99,2021-05-10,HydroLife
3,4,Leather Crossbody Bag,Accessories,89.99,2021-06-01,StyleCraft
4,5,Yoga Mat Premium,Sports & Outdoors,34.99,2021-06-15,FitZone

In [6]:
sales.head()

,sale_id,customer_id,product_id,transaction_date,quantity,total_amount
0,1,1,1,2022-02-10 14:30:00,1,79.99
1,2,2,3,2022-02-15 10:15:00,2,39.98
2,3,3,5,2022-02-20 16:45:00,1,34.99
3,4,4,2,2022-02-25 11:20:00,3,74.97
4,5,5,4,2022-03-01 13:10:00,1,89.99

In [11]:
#1.1 a conversion to date_time
customers['registration_date']=pd.to_datetime(customers['registration_date'])

In [14]:
products['launch_date']=pd.to_datetime(products['launch_date'])

In [16]:
sales['transaction_date']=pd.to_datetime(sales['transaction_date'])

In [24]:
#1.1 b extraction of day, month , year
sales['day_name']=sales['transaction_date'].dt.day_name()
sales['day_number']=sales['transaction_date'].dt.weekday
sales['sales_month']=sales['transaction_date'].dt.month
sales['sales_year']=sales['transaction_date'].dt.year
products['day_name']=products['launch_date'].dt.day_name()
products['day_number']=products['launch_date'].dt.weekday
products['launch_month']=products['launch_date'].dt.month
products['launch_year']=products['launch_date'].dt.year
customers['day_name']=customers['registration_date'].dt.day_name()
customers['day_number']=customers['registration_date'].dt.weekday
customers['registration_month']=customers['registration_date'].dt.month
customers['reigistration_year']=customers['registration_date'].dt.year

In [39]:
#1.1 c finding date range from sales
latest_date=sales['transaction_date'].max()
earliest_date=sales['transaction_date'].min()
print (latest_date)
print (earliest_date)

2024-03-05 10:30:00
2022-02-10 14:30:00

In [42]:
#1.2 a finding the busiest day of the week
sales['day_name'].value_counts().head(1)

day_name
Friday    24
Name: count, dtype: int64

In [45]:
#1.2 b finding sales by year
sales['sales_month'].value_counts().head(1)

sales_month
2    16
Name: count, dtype: int64

In [47]:
#1.2 c finding sales by year
sales['sales_year'].value_counts().sort_index()

sales_year
2022    65
2023    72
2024    13
Name: count, dtype: int64

In [89]:
#2.1 a group products by category, find mean of categories
products.groupby('category')['price'].mean().round(2)

category
Accessories           35.07
Clothing              52.24
Electronics           59.99
Home & Garden         30.16
Sports & Outdoors    105.90
Name: price, dtype: float64

In [86]:
#2.1 b count how many products are in each category
products['category'].value_counts()

category
Electronics          13
Clothing             12
Home & Garden        12
Accessories          12
Sports & Outdoors    11
Name: count, dtype: int64

In [90]:
#2.2 a group customers by state and find average age
customers.groupby('state')['age'].mean()

state
CA    34.10
FL    39.00
IL    37.25
NY    36.50
TX    38.30
Name: age, dtype: float64

In [92]:
#2.2 b calculate total spending by customer
sales.groupby('customer_id')['total_amount'].sum()

customer_id
1     229.98
2     179.96
3     154.98
4     234.95
5     149.98
       ...
86     34.99
87     83.97
88    109.98
89     29.99
90    139.96
Name: total_amount, Length: 90, dtype: float64

In [93]:
#2.2 c find customers who made the most purchases (value counts also works here)
sales.groupby('customer_id').size()

customer_id
1     2
2     2
3     2
4     2
5     2
     ..
86    1
87    1
88    1
89    1
90    1
Length: 90, dtype: int64

In [94]:
#2.3 a total sales revenue by month
sales.groupby('sales_month')['total_amount'].sum()

sales_month
1      864.79
2     1669.66
3     1115.77
4      924.77
5     1177.79
6      986.68
7      930.80
8      870.74
9     1150.76
10    1235.80
11    1022.76
12    1458.71
Name: total_amount, dtype: float64

In [98]:
#2.3 b find average transaction amount by day of the week
sales.groupby('day_number')['total_amount'].mean().round(2)

day_number
0     90.93
1     74.03
2     96.07
3    102.27
4    100.94
5     61.12
6     99.55
Name: total_amount, dtype: float64

In [102]:
#2.3 c determine which product category generates the most revenue
sales.groupby('product_id')['total_amount'].sum()
products.groupby('category')['product_id'].sum()

category
Accessories          389
Clothing             375
Electronics          371
Home & Garden        355
Sports & Outdoors    340
Name: product_id, dtype: int64

In [103]:
#3.1 a find which state has the most customers
customers['state'].value_counts()

state
CA    20
NY    20
TX    20
FL    20
IL    20
Name: count, dtype: int64

In [107]:
#3.1 b determine top 5 customers by total spending
sales.groupby('customer_id')['total_amount'].sum().nlargest(5)

customer_id
31    379.97
13    359.96
41    329.98
84    319.98
30    284.98
Name: total_amount, dtype: float64

In [110]:
#3.1 c which day of the week has the highest average transaction value
sales.groupby('day_number')['total_amount'].mean().round(2).nlargest(1)

day_number
3    102.27
Name: total_amount, dtype: float64